<?xml version="1.0"?>
<config>
	<sections>
         <catalog>
            <groups>
                <product_options translate="label comment">
                    <label>Product Options</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
                        <swatch_width translate="label">
                            <label>Swatch Image Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The width swatch images are uploaded as.</comment>
                        </swatch_width>
                        <swatch_height translate="label">
                            <label>Swatch Image Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The height swatch images are uploaded as.</comment>
                        </swatch_height>
                    </fields>
                </product_options>
            </groups>
        </catalog>
    </sections>
</config>